<%= nested_form_for(@project) do |f| %>

  <div class="field">
    <%= f.label :name, "Project Name" %><br />
    <%= f.text_field :name %>
  </div>
	<%= f.fields_for :tasks %>
	<%= f.link_to_add "Add a task", :tasks %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
